# IF Statements

In [3]:
if 2 > 1:
    print ('That is true')
print('end of script')

That is true
end of script

In [8]:
number = 15
if number > 10:
    print ('number is more than ten')
else: 
    print ('number is less or equal than ten or not a number')

print('end of script')

number is more than ten
end of script

In [9]:
name = 'Dovydas'
year = 2005

if name == 'Linas':
    print ('Hi Linas')
elif name == 'Dovydas' and year == 2005:
    print ('Hi Dovydas')
else:
    print ('Hi unknown person')
print('end of script')

Hi Dovydas
end of script

In [11]:
name = 'Dovydas'
year = 2005

if name == 'Linas':
    print ('Hi Linas')
elif  year > 2000:
    print ('year is greater than 2000')
elif name == 'Dovydas' and year > 2000:    
    print ('Hi Dovydas')
else:
    print ('Hi unknown person')
print('end of script')

year is greater than 2000
end of script

In [25]:
# all prime numbers in the range

for number in range(0,101):
  
   if number > 1:
       for i in range(2, number):
           if (number % i) == 0:
               break
       else:
           print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [20]:
#
my_sum = 0 
for number in range(1,51): 
	if (my_sum + number) % 2 == 0:
                my_sum += number 
                print(my_sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [24]:
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
hours = [10,11,12,13,14,15,16,17,18,19]

available_days = ['Monday','Wednesday']
available_hours = [12,13,14,15,16,17]

combinations = []
for day in days:
    if day in available_days:
        print (day)
        for hour in hours:
            if hour in available_hours:
                print(hour)
                combination = (day,hour)
                combinations.append( combination )
        print ('checking next day')

print(combinations)

Monday
12
13
14
15
16
17
checking next day
Wednesday
12
13
14
15
16
17
checking next day
[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

# List comprehension

In [26]:
my_list = [5,4,74,8]

mult_2 = [number *2 for number in my_list]

print (mult_2)

[10, 8, 148, 16]

In [27]:
my_list = [5,4,74,7]

#[RESULT for STH in ITERABLE]
mult_2 = [number *2 for number in my_list if number %2 ==0 ]

print (mult_2)

[8, 148]

In [29]:
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
hours = [10,11,12,13,14,15,16,17,18,19]

available_days = ['Monday','Wednesday']
available_hours = [12,13,14,15,16,17]


combinations = [ (day, hour) for day in days for hour in hours if day in available_days and hour in available_hours]
print (combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [30]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

valid_days = [ 'Monday', 'Wednesday']
valid_hours = [12, 13, 14, 15, 16, 17]

combinations = [ (day, hour) for day in days for hour in hours if day in valid_days and hour in valid_hours ]
print(combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [31]:
my_list = [5,4,74,7]
# [RESULT for STH in ITERABLE]
mult = [number*2 if number % 2 == 0 else number*3 for number in my_list ]
print(mult)

[15, 8, 148, 21]

In [34]:
my_list = [5,4,74,7,4598,4163,4984,784,345,46968,36999]
even = [1 for number in my_list if number %2 == 0 ]
print (even)
count_even = sum(even)
print (count_even)

[1, 1, 1, 1, 1, 1]
6

# Dictionary

In [55]:
my_dictionary = {   
    'name':'Dovydas',
    'year': 2008,
    False: 'False',
    5: 'five',
    'hobbies': ['tennis', 'football']
}

In [36]:
my_dictionary ['hobbies']

['tennis', 'football']

In [38]:
print(my_dictionary[5])

five

In [44]:
my_dictionary ['city']= 'Vilnius'
print (my_dictionary)
my_dictionary ['city']= 'Kaunas'
print (my_dictionary)

{'name': 'Dovydas', 'year': 2008, False: 'False', 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Vilnius', 'key': 'value of key', 'sum': 10}
{'name': 'Dovydas', 'year': 2008, False: 'False', 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Kaunas', 'key': 'value of key', 'sum': 10}

In [ ]:
my_dictionary.copy()   #mutable

In [42]:
tmp_dictionary = dict.fromkeys (['sum','mult_sum','div_sum'],0)
print(tmp_dictionary)

{'sum': 0, 'mult_sum': 0, 'div_sum': 0}

In [47]:
print (my_dictionary.get('city'))
print (my_dictionary['city'])

Kaunas
Kaunas

In [ ]:
# my_dictionary['address'] # gives an error
print (my_dictionary.get('address', False) )
if my_dictionary.get('address', False) == False:
    print ("Dictionary does not contain 'address' info")

False
Dictionary does not contain 'address' info

In [56]:
# my_dictionary['address'] # gives an error
print (my_dictionary.get('address', False) )
if my_dictionary.get('address', False) == False:
    print ("Dictionary does not contain 'address' info")

False
Dictionary does not contain 'address' info

In [59]:
new_dict = {
    'key': 'value of key',
    'sum': 10,
    'city': 'Vilnius'
}

my_dictionary.update(new_dict)
print (my_dictionary)

{'name': 'Dovydas', 'year': 2008, False: 'False', 5: 'five', 'hobbies': ['tennis', 'football'], 'key': 'value of key', 'sum': 10, 'city': 'Vilnius'}

In [60]:
for key, value in my_dictionary.items(): # k, v
    print (f'key {key} has a value of {value}')

key name has a value of Dovydas
key year has a value of 2008
key False has a value of False
key 5 has a value of five
key hobbies has a value of ['tennis', 'football']
key key has a value of value of key
key sum has a value of 10
key city has a value of Vilnius